<h1>Stupid coaching</h1>
<div class="div_style">
<p class="div_body"><%= params[:question] %></p>
<p class="div_exp">- You</p>
</div>

<div class="div_style coach">
<p><%= @answer %></p>
<p class="div_exp">- Your coach</p>
</div>
<div class="btn btn-info m-4"><%= link_to "Ask a new question", "ask" %></div>
